In [1]:
import pandas as pd

df = pd.read_csv("iris.csv")
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [2]:
df_three = df.loc[:, ["sepal length (cm)", "sepal width (cm)", "species"]]
df_three.head()

   sepal length (cm)  sepal width (cm) species
0                5.1               3.5  setosa
1                4.9               3.0  setosa
2                4.7               3.2  setosa
3                4.6               3.1  setosa
4                5.0               3.6  setosa

In [3]:
import pandas as pd

# set column names
columns = ['p_len', 'p_wid', 's_len', 's_wid', 'species']

# read iris.csv (same as Idrees)
iris = pd.read_csv('iris.csv', header=None, skiprows=1, names=columns)

iris.head(3)

   p_len  p_wid  s_len  s_wid species
0    5.1    3.5    1.4    0.2  setosa
1    4.9    3.0    1.4    0.2  setosa
2    4.7    3.2    1.3    0.2  setosa

In [4]:
# Target row with index 4 (5th row)
df.loc[4]

sepal length (cm)       5.0
sepal width (cm)        3.6
petal length (cm)       1.4
petal width (cm)        0.2
species              setosa
Name: 4, dtype: object

In [5]:
# First 10 rows (0 to 9)
df.loc[0:9]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
5,5.4,3.9,1.7,0.4,setosa
6,4.6,3.4,1.4,0.3,setosa
7,5.0,3.4,1.5,0.2,setosa
8,4.4,2.9,1.4,0.2,setosa
9,4.9,3.1,1.5,0.1,setosa

In [6]:
# Rows 10 to 19
df.loc[10:19]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
10,5.4,3.7,1.5,0.2,setosa
11,4.8,3.4,1.6,0.2,setosa
12,4.8,3.0,1.4,0.1,setosa
13,4.3,3.0,1.1,0.1,setosa
14,5.8,4.0,1.2,0.2,setosa
15,5.7,4.4,1.5,0.4,setosa
16,5.4,3.9,1.3,0.4,setosa
17,5.1,3.5,1.4,0.3,setosa
18,5.7,3.8,1.7,0.3,setosa
19,5.1,3.8,1.5,0.3,setosa

In [8]:
df.loc[:, ['petal length (cm)', 'sepal length (cm)', 'species']]

     petal length (cm)  sepal length (cm)    species
0                  1.4                5.1     setosa
1                  1.4                4.9     setosa
2                  1.3                4.7     setosa
3                  1.5                4.6     setosa
4                  1.4                5.0     setosa
..                 ...                ...        ...
145                5.2                6.7  virginica
146                5.0                6.3  virginica
147                5.2                6.5  virginica
148                5.4                6.2  virginica
149                5.1                5.9  virginica

[150 rows x 3 columns]

In [2]:
import pandas as pd

df = pd.read_csv("iris.csv")
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [3]:
df.loc[4]

sepal length (cm)       5.0
sepal width (cm)        3.6
petal length (cm)       1.4
petal width (cm)        0.2
species              setosa
Name: 4, dtype: object

In [4]:
df.loc[0:9]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
5,5.4,3.9,1.7,0.4,setosa
6,4.6,3.4,1.4,0.3,setosa
7,5.0,3.4,1.5,0.2,setosa
8,4.4,2.9,1.4,0.2,setosa
9,4.9,3.1,1.5,0.1,setosa

In [5]:
df.iloc[0:10]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
5,5.4,3.9,1.7,0.4,setosa
6,4.6,3.4,1.4,0.3,setosa
7,5.0,3.4,1.5,0.2,setosa
8,4.4,2.9,1.4,0.2,setosa
9,4.9,3.1,1.5,0.1,setosa

In [6]:
df['sepal length (cm)']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length (cm), Length: 150, dtype: float64

In [7]:
df[['sepal length (cm)', 'petal length (cm)']]

     sepal length (cm)  petal length (cm)
0                  5.1                1.4
1                  4.9                1.4
2                  4.7                1.3
3                  4.6                1.5
4                  5.0                1.4
..                 ...                ...
145                6.7                5.2
146                6.3                5.0
147                6.5                5.2
148                6.2                5.4
149                5.9                5.1

[150 rows x 2 columns]

In [8]:
df.loc[0:10, ['sepal length (cm)', 'species']]

    sepal length (cm) species
0                 5.1  setosa
1                 4.9  setosa
2                 4.7  setosa
3                 4.6  setosa
4                 5.0  setosa
5                 5.4  setosa
6                 4.6  setosa
7                 5.0  setosa
8                 4.4  setosa
9                 4.9  setosa
10                5.4  setosa

In [9]:
data = [50, 47, 51, 49, 47]

mean = sum(data) / len(data)
variance = sum((x - mean)**2 for x in data) / len(data)

mean, variance

(48.8, 2.5599999999999996)

In [11]:
data = [50, 47, 51, 49, 47]

In [12]:
total = 50 + 47 + 51 + 49 + 47
total

244

In [16]:
n = 5
n

5

In [17]:
n = len(data)
n

5

In [18]:
mean = total / n
mean

48.8

In [19]:
a1 = data[0] - mean
a2 = data[1] - mean
a3 = data[2] - mean
a4 = data[3] - mean
a5 = data[4] - mean

a1, a2, a3, a4, a5

(1.2000000000000028,
 -1.7999999999999972,
 2.200000000000003,
 0.20000000000000284,
 -1.7999999999999972)

In [20]:
s1 = a1 ** 2
s2 = a2 ** 2
s3 = a3 ** 2
s4 = a4 ** 2
s5 = a5 ** 2

s1, s2, s3, s4, s5

(1.4400000000000068,
 3.2399999999999896,
 4.840000000000012,
 0.04000000000000114,
 3.2399999999999896)

In [21]:
sum_squares = s1 + s2 + s3 + s4 + s5
sum_squares

12.799999999999999

In [22]:
variance = sum_squares / n
variance

2.5599999999999996

In [23]:
# Variance (short manual method)

import numpy as np

class1 = np.array([50,47,51,49,47])
class2 = np.array([5,20,50,80,130])


mean1 = np.mean(class1)
sq_diff1 = [(x - mean1)**2 for x in class1]   
variance1 = sum(sq_diff1) / len(class1)

print("Class 1 Mean:", mean1)
print("Class 1 squared differences:", sq_diff1)
print("Class 1 Variance:", variance1)



mean2 = np.mean(class2)
sq_diff2 = [(x - mean2)**2 for x in class2]
variance2 = sum(sq_diff2) / len(class2)

print("\nClass 2 Mean:", mean2)
print("Class 2 squared differences:", sq_diff2)
print("Class 2 Variance:", variance2)

Class 1 Mean: 48.8
Class 1 squared differences: [np.float64(1.4400000000000068), np.float64(3.2399999999999896), np.float64(4.840000000000012), np.float64(0.04000000000000114), np.float64(3.2399999999999896)]
Class 1 Variance: 2.5599999999999996

Class 2 Mean: 57.0
Class 2 squared differences: [np.float64(2704.0), np.float64(1369.0), np.float64(49.0), np.float64(529.0), np.float64(5329.0)]
Class 2 Variance: 1996.0

In [24]:
mean2 = sum(class2) / len(class2)
print("\nClass 2 mean is: ", mean2)

sum_of_differences2 = np.array([(i - mean2)**2 for i in class2])
variance2 = (sum_of_differences2.sum()) / len(class2)
print("Class 2 variance is: ", variance2)

Class 2 mean is:  57.0
Class 2 variance is:  1996.0

In [25]:
# variance
import numpy as np

# classes
class1 = np.array([50,47,51,49,47])
class2 = np.array([5,20,50,80,130])

# ---------------- CLASS 1 ----------------
mean1 = sum(class1) / len(class1)
print("Class 1 mean is:", mean1)

sum_of_differences1 = np.array([(i - mean1)**2 for i in class1])
variance1 = sum_of_differences1.sum() / len(class1)
print("Class 1 variance is:", variance1)

# ---------------- CLASS 2 ----------------
mean2 = sum(class2) / len(class2)
print("Class 2 mean is:", mean2)

sum_of_differences2 = np.array([(i - mean2)**2 for i in class2])
variance2 = sum_of_differences2.sum() / len(class2)
print("Class 2 variance is:", variance2)

Class 1 mean is: 48.8
Class 1 variance is: 2.5599999999999996
Class 2 mean is: 57.0
Class 2 variance is: 1996.0

In [26]:
class2 = [5,20,50,80,130]

mean2 = sum(class2) / len(class2)
print("mean is:", mean2)

mean is: 57.0

In [27]:
import numpy as np

class2 = np.array([5,20,50,80,130])

mean = sum(class2)/len(class2)
print("mean is: ", mean)

sumofdifferences = np.array([((class2 - mean)**2)])
variance = (sumofdifferences.sum())/len(class2)

print("The variance is: ", variance)

mean is:  57.0
The variance is:  1996.0